/**Style css applique a tout les elements de la page**/
*{
 margin: 0;/*retrait des marges exterieures*/
 padding: 0;/*retrait des marges interieures*/
 box-sizing: border-box;
}

/**Style css applique a tout les elements contenu dans la balise html**/
htm{
 scroll-behavior: smooth;
}

/**Style css applique a tout les elements contenu dans la balise body**/
body{
 width: 100%;/*Occupe toute la largeur de la page*/
 position: relative;
 background: #1d1d1d;/*applique un arriere-plan de couleur noire*/
 color: #fff;/*Applique une couleur blanche au texte*/
 font-family: 'roboto' , 'sans-serif';/*ajout d'autres types de police au text*/
}

/*navbar*/
.navbar{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 60px;/*occupe une hauteur de 60px */
 background: #1d1d1d;
 padding: 0 10vw;
 display: flex;/*Affiche les elements de facon horizontal*/
 justify-content: space-between;/*Creer des espace entre les elements*/
 align-items: center;
 z-index: 9;
}

/*brand*/
.brand{
 text-transform: capitalize;/*Mettre tout les textes en lettres capitales*/
 font-weight: 500;
}

/*links-container*/
.links-container{
 display: flex;
 list-style: none;/*retrait des puces */
}

/*link*/
.link{
 text-transform: capitalize;
 color: #fff;
 text-decoration: none;/*retrait du surlignement des liens*/
 margin: 0 10px;
 padding: 10px;
 position: relative;
}

.link:hover:not(.active){
 opacity: 0.7;/*reduction de l'opacity de l'element non actif au survol de la souris*/
}

.link.active::before{
 content: '';
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 width: 5px;
 height: 5px;
 border-radius: 50%;
 background: #fff;
}

.link.active::after{
 content: '';
 position: absolute;
 bottom: 2px;
 left: 0;
 width: 100%;
 height: 1px;
 background: #fff;

}

/*image*/
#pp{
 width: 15%;
}

/*home section*/
.home{
 width: 100%;
 min-height: calc(100vh - 60px) ;
 height: auto;
 margin-top: 60px;
 padding: 0 10vw;
 display: flex;
 align-items: center;
 justify-content: space-between;
 position: relative;
}

/*hero-content*/
.hero-content{
 width: 50%;
}

/*hero-heading*/
.hero-heading{
 font-size: 5rem;
 text-transform: capitalize;
 font-weight: 5000;
}

/*highlight*/
.highlight{
 color:darkorange;
 text-transform: capitalize;
}

/*profession*/
.profession{
 width: fit-content;
 display: block;
 margin: 10px 0 20px ;
 margin-left: auto;
 text-transform: capitalize;
 position: relative;
 padding: 10px 20px;
 color: #1d1d1d;
 z-index: 2;
}

.profession::before{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: #e3e3ee;
 z-index: -1;/*ajustre la visibilite du texte*/
 transform: skewX(10deg);/*donne une forme de parallelogramme */
}

.profession::after{
 content: '';
 position: absolute;
 top: 0;
 left: -100px;
 width: 100%;
 height: 2px;
 background:#e3e3ee;
}

/*info*/
.info{
 line-height: 40px;
 margin-bottom: 50px;

}

/*btn*/
.btn{
 padding: 10px 20px;
 text-decoration: none;
 border-radius: 50px;
 background: darkorange;
 color: #fff;
 text-transform: capitalize;
 border: 1px outset #fff;
}

/*About section*/
.about{
 width: 100%;
 height: auto;
 padding: 50px 10vw;
}

/*heading*/
.heading{
 text-align: center;
 font-weight: 500;
 font-size: 3.5rem;
 text-transform: capitalize;
}